:root{
    --color: rgb(245, 75, 59);
    --font: 'Poppins', sans-serif;
    --fontb: 'Archivo', sans-serif;
    --fontc: 'Nunito Sans', sans-serif;
}

html{
    scroll-behavior:smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    
}


::-webkit-scrollbar
{
    width: 10px;
    background:rgb(220, 217, 217);
}

::-moz-scrollbar{
    width: 10px;
    background:rgb(220, 217, 217);
}

::-webkit-scrollbar-button{
    width: 10px;
    background: black;
}
::-moz-scrollbar-thumb{
      background-color:black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
    background-color:black;
}

.top{
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    background: var(--color);
    align-items: center;
    justify-content: space-evenly;
    height: 2.5rem;
    width: 5%;
    cursor: pointer;
    color: white;
    border-radius: 2rem;
    z-index: 10;
}



.top p{
    display: none;
    color: white;
    font-size: 0.9rem;
    font-family: var(--fontb);
}
.top a{
    text-decoration: none;
}

#arrow{
    color: white;
    font-size: 1rem;
    text-decoration: none;
}


.container{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-image: url(Elitefood-bg.svg);
    background-repeat: no-repeat;
    padding-left:3.5% ;
    padding-right:4%;
    padding-top: 2%;
     z-index: 200;
    
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-weight: 700;
    
}
.logo{
    width: 35%
}

.logo img{
    width: 15%;
    height: auto;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;  
}

.nav a{
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}
.nav a:hover{
   color: var(--color);
   text-decoration: underline;
}

.aside{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70vh;
    margin-top: 5%;
}

.cashback{
font-size: 4rem;
color: white;
line-height: normal;
}
.aside :nth-child(2){
    margin-top: 2.5rem;
    color: white;
    letter-spacing: 1px;
    font-size: 1.2rem;
}
.order{
    margin-top: 2rem;
    width: 35%;
    height: 10%;
    color: white;
    background-color: var(--color);
    border: none;
    border-radius: 2.5rem;
    font-weight: bold;
    transition: all 0.5s;
    transform: scale(100%);
    outline: none;


}
.order:hover{
    background: white;
    color: var(--color);
    transform: scale(1.1);
}

.order:active{
    transform: scale(0.9);
}

.second-container{
    position: relative;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(Bg2.svg);
    background-repeat: no-repeat;
    color: var(--color);
    margin-top: -1%;
    padding-top: 6%;
}

.second-container h2{
    font-weight: bold;
    font-size: 2rem;

}

.span{
    color:black;
}
.chef-brief{
    width: 60%;
    text-align: center;
    line-height: 1.5rem;
}

.chefs-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;

}
.chef{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.chef img{
    margin-bottom: 1rem;
    border-radius: 7rem;
}
.third-container , .pizza-container{
    position: relative;
    z-index: 99;
    width: 100%;
    height: 90vh;
    background: var(--color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.burger-img ,.pizza-img{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5rem;
}

.burger-img img, .pizza-img img{
    width: 80%;
    height: auto;
    transition: all 0.5s ease;
    padding-right: -1.5rem;
}

.burger-writeup, .pizza-writeup{
    color: white;
    padding-right: 2rem;
    width: 45%;
}
.burger-writeup h3, .pizza-writeup h3{
    font-size: 3.5rem;
    margin-bottom: 2.5rem;
}
.burger-writeup p, .pizza-writeup p{
    line-height: 1.5rem;
    font-size: 1rem;
    width: 90%;
}
.order-btn{
    margin-top: 3rem;
    width: 35%;
    height: 2.5rem;
    color: var(--color);
    background-color:white;
    border: none;
    border-radius: 2.5rem;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    transform: scale(100%);
    outline: none;
}
.order-btn:hover, .order-chicken:hover{
    transform: scale(1.2);
}

.b{
    background: url(/Bg2.svg);
    background-repeat: no-repeat;
    margin-top: -1rem;
    color: var(--color);
    padding-right: 7rem;
    padding-left: 7.5rem;
    overflow: hidden;
}

.chicken-writeup{
    color: var(--color);
    width: 45%;

}

.chicken-writeup h3{
    font-size: 3.5rem;
    margin-bottom: 2.5rem;
}

.chicken-img{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chicken-img img:hover, .burger-img img:hover, .pizza-img img:hover{
transform: scale(1.1);
}

.chicken-img img{
    width: 80%;
    height: auto;
    transition: all 0.5s ease;
    animation: float .3s linear infinite;
}


.chicken-writeup p{
    line-height: 1.5rem;
    font-size: 1rem;
    width: 90%;
}

.order-chicken{
    margin-top: 3rem;
    width: 35%;
    height: 2.5rem;
    color:white;
    background-color:var(--color);
    border: none;
    border-radius: 2.5rem;
    font-weight: bold;
    transition: all 0.5s;
    transform: scale(100%);
    outline: none;
}

.product-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110vh;
    width: 100%;
    background: url(/product-bg.png);
    background-repeat: no-repeat;
    padding-top: 4rem;
    margin-top: -1rem;
    padding-bottom: 2rem;
    z-index: 99;
}

.product-container .popular{
    color: var(--color);
    position: relative;
    font-size: 2.5rem;
    font-family: var(--fontb);
    margin-bottom:5.5rem ;
    
}

/* .popular::before{
    content: "";
    position: absolute;
    display: block;
    bottom: 0px;
    left: 0;
    right: 0px;
    background: var(--color);
} */

.package-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
    
}

.package{
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:25%;
    color: var(--color);
    background: white;
    height: 90%;
    padding-top: 2rem;
    transition: all 0.5ms ease-in;
    /* clip-path: polygon(0% 10%, 0% 100%, 100% 100%, 100% 0%, 10% 0%); */


    /* padding-bottom: 2rem; */
   
}
#cart{
    position: absolute;
    top: 2.5rem;
    right: 1.5rem;
    display: none;
    font-size: large;
}

.package:hover #cart{
    display: block;
    animation: cart 0.5s; 
}


@keyframes cart{
    0%{
        right: -1.5rem;
    }
    100%{
        right: 1.5rem;
    }
}

#cart:focus{
    color: black;
}

.new{
    position: absolute;
    display: none;
    justify-content: center;
    top: -5rem;
    left: 1.5rem;
    border-radius: 3px;
    height: 3rem;
    width: 45px;
    background: var(--color);
    color: white;
    padding-top: 1.3rem;
    font-size: 15px;
    animation: new 0.5s;
}


.package:hover .new{
    display: flex;
    top: -2px;
}

@keyframes new {
    0%{
        top: -5rem;
    }

    100%{
        top: -2px;
    }
}

.package h2{
    font-family: var(--fontc);
}
.package .package-brief{
    width: 90%;
    text-align: center;
    font-family: var(--fontb);
    margin-bottom: 1.3rem;
}

.price{
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.package-btn{
    width: 80%;
    height: 2.5rem;
    background: var(--color);
    color: white;
    border: none;
    border-radius: 1.5rem;
    font-weight: 500;
    font-size: large;
    transition: all 0.5s ease;
}


.package-btn:hover{
    background: black;
    transform: scale(1.1);
}

.review{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(Bg6.svg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin-top: -1rem;
    padding-top :17rem;
    position: relative;
    z-index: 99;
}

.review p{
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    font-family: var(--fontb);
    width: 55%;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
}

.review h3{
    margin-top: 3rem;
    color: white;
    font-size: 2rem;

}

.statistics{
    font-family: var(--fontb);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: var(--color);
    background-repeat: no-repeat;
    color: white;
    padding-top: 3.5rem;
    position: relative;
    z-index: 99;
    
}

.h3{
    font-size: 2.4rem;
    padding-bottom: 2.5rem;
    letter-spacing: 0.1rem;

}

.p{
    width: 60%;
    font-weight: lighter;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.2em;
}


.stats-container{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    margin-top: 4rem;



}
.stats{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: white;
    border-width: 0.2rem;
    border-radius: 50%;
    height: 90%;
    width: 19.5%;
    overflow: hidden;
    transition: all .5s;


}

.stats h3{
    font-size: 3.5rem;
}

.stats p{
    font-size: 1.5rem;
}


.list{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: -2rem;
    width: 3.5rem;
    justify-content: space-between;
}

.stats:hover .list{
    bottom: 2rem;
}




.pizza-container{
    background: url(/Bg2.svg);
    background-repeat: no-repeat;
    margin-top: -0.5rem;
    filter: none;
}

.pizza-writeup{
    color: var(--color);
}
.pizza-writeup p{
    width: 85%;
}












.subscribe-container{
    font-family: var(--fontb);
    margin-top: -1rem;
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(Bg3.svg);
    background-repeat: no-repeat;
    position: relative;
    z-index: 99;
}

.subscribe-container h3{
    color: var(--color);
    font-size: 3.5rem;
    margin-bottom: 3rem;
}
.subscribe-container p{
    color: var(--color);
    width: 60%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 7rem;
}

.subscribe-field {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
}

.subscribe-field input{
    width: 60%;
    height:3rem;
    border: none;
    outline: none;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding-left: 2rem;

}

.subscribe-field button {
border: none;
outline: none;
height:3rem ;
width: 25%;
background: var(--color);
background-repeat: no-repeat;
color: white;
border-top-right-radius: 1.5rem;
border-bottom-right-radius: 1.5rem;
}

.subscribe-field button:hover{
    background: black;
} 

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
    background: black;
    background-repeat: no-repeat;
    width: 100%;
    padding-left:3rem ;
    padding-top: 9rem;
}

.title , .about, .service , .other {
    display: flex;
    flex-direction: column;
    color: white;
    width: 20%;
    height: 100%;
    font-family:var(--font);
    letter-spacing: 0.1rem;
}

.title h3, .about h3, .service h3, .other h3{
    margin-bottom: 2rem;
    font-size: 1.7rem;
}

.about p, .service p, .other p{
    font-family: var(--fontc);
    margin-bottom: 1rem;
}

.title {
    width: 40%;
}

.title p{
    width: 80%;
    line-height: 1.2rem;
    font-family: var(--fontc);

}

.handles{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-top: 1.8rem;

    
}

.handles a{
    color: white;
    font-size: 2rem;
    margin-right: 1.5rem;
    text-decoration: none;
    
}


